*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.espera{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.divImagen{
    width: 20%;
}