*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divBtnAddAgregar{
    text-align: end;
}

.divTab{
    margin-bottom: 10%;
}


.btnAgregarAprende{
    background-color: rgb(78, 113, 255);
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1% 4%;
    border-radius: 9px;
}

.btnAgregarAprende:hover{
    background-color: rgb(249, 78, 255);
    border: none;
}

.divCards{
    display: flex;
    flex-wrap: wrap;
}