/* - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
    - Dark Blue (main background): hsl(218, 28%, 13%)
    - Dark Blue (footer background): hsl(216, 53%, 9%)
    - Dark Blue (testimonials background): hsl(219, 30%, 18%) */


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: hsl(0, 5%, 96%);
    margin: 0 auto;
}

.barra {
    background-color: hsl(281, 99%, 32%);
    height: 50px;
}

.divBarraRel {
    background-color: hsl(281, 99%, 32%);
    padding: 1% 0 .5% 0;
    color: white;
    width: 40%;
    border-radius: 50px;
}

.container-fluid {
    width: 96%;

}

.linkDentro {
    text-decoration: none;
    color: hsl(281, 99%, 32%);
    /* color: black;
} */
}

.linkDentro:hover {
    text-decoration: none;
    color: hsl(0, 0%, 0%);

}

.navbar-expand {
    padding: 0 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: hsl(281, 99%, 32%);

}

.linkNavLanding {
    text-decoration: none;
    background-color: pink;
    padding: 5% 9%;

}


.navbar-collapse {
    flex-grow: 0 !important;
}

.navb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;

}

.primero {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.izq {
    padding-left: 7%;
}

.pPrimero {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 1.4rem;
}

.btnPrimero {
    width: 90%;
    border: none;
    padding: 3% 20%;
    border-radius: 30px;
    background-color: hsl(198, 60%, 50%);
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.btnPrimero:hover {
    color: black;
    background-color: white;
    border: 1px solid blue;
}

.segundo {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 8%;
    text-align: center;
    color: black;
}

h2,
h5 {
    font-family: 'Raleway', sans-serif;
}

.tercero {

    width: 100%;
    margin: 0 auto;
    margin-top: 4%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.der {
    padding-left: 3%;
}

.stayTitulo {
    width: 97%;
}


.stayP p {
    text-align: justify;
    font-size: 1.3rem;
}

.iconSig {
    margin-left: 3%
}



.divLinkStay {
    border-bottom: 1px solid hsl(176, 68%, 64%);
    width: 31%;
}

.link {
    text-decoration: none;
}


/* comillas */

.contenedorComenatiros {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.comillas {
    z-index: 1;
    position: absolute;
}

.cardComentarios {
    width: 100%;
    margin: 0 auto;
}

/* .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
    background-color: hsl(219, 30%, 18%);
    z-index: 1;
    padding: 5% 3% 3% 3%;
    margin-bottom: 5%;
    color: black;
    background-color: hsl(0, 0%, 83%);
    box-shadow: 10px 10px 13px 0px rgb(186, 186, 186);

} */

.cardscoment {
    height: 350px !important;
    margin: 5% 0 !important;
    padding: 1% !important;
    display: flex !important;
    align-items: center !important;
    border: none !important;
    border-radius: 4px !important;
    background-color: hsl(0, 0%, 83%) !important;
    box-shadow: 10px 10px 13px 0px rgb(162, 189, 231)
}



.imgCard {
    display: flex;
    align-items: center;
    padding-top: 3%;
}

.img {
    border-radius: 40px;

}

.pComImg {
    padding-left: 5%;
    font-size: .8rem;

}

.card-text {
    font-size: .95rem;
}


/* footer */
footer {
    width: 100%;
    background-color: hsl(210, 64%, 81%);
    margin: 0 auto;
    margin-top: 5%;
    padding: 3% 5% 5% 5%;
    color: black;
    font-size: 1.5rem;
}

.conteFooter {
    display: flex;
    margin: 0 auto;
}


.colFooterUno {
    display: flex;
    justify-content: center;

}

.colFooterUno p {
    padding-left: 3%;
}

.colFooterDos {
    display: flex;
    flex-direction: column;

}

.colFooterDos p {
    padding-left: 3%;
}


.colFooterTres {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* width: 20% */
}


.colFooterCinco {
    display: flex;
    justify-content: center;
    /* width: 20% */
}

.colFoote {
    display: flex;
    justify-content: center;
    width: 100%
}

.imgFoo {
    padding-right: 5%;
    margin-bottom: 2%;
}

.divEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: .9rem;
    color: black;
    background-color: hsl(0, 0%, 83%);
    padding: 3%;
    box-shadow: 10px 10px 13px 0px rgb(162, 189, 231);
    border-radius: 5px;
    margin-top: 4%;
}

Form {
    width: 100%;
    padding: 0;
}

.mb-3 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}

.inputEmail {
    width: 62%;
    border-radius: 50px;
    margin-right: 2%;
    background-color: rgb(125, 129, 149);
    color: white;
}

.inputEmailtextarea {
    width: 62%;
    border-radius: 15 0px;
    margin-right: 2%;
    background-color: rgb(125, 129, 149);
    color: white;
}

.inputEmail::placeholder {
    padding-left: 5%;
    color: white;
}

.inputEmailtextarea::placeholder {
    padding-left: 5%;
    color: white;
}

.btnEmail {
    width: 25%;
    border: none;
    padding: 2%;
    border-radius: 30px;
    background-color: hsl(198, 60%, 50%);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem
}

.btnEmail:hover {
    background-color: white;
    border: 1px solid blue;
}

.divh3 {
    width: 75%;
}

.divh3 p {
    font-size: 1.2rem;
}



.icon {
    display: flex;
    align-items: center;
    border-radius: 50px;
    /* border: 1px solid white; */
    margin: 20% 0;
    width: 100%;
    height: 35%;
    text-align: center;
    justify-content: center;
    color: black;
}


.icon:hover {
    color: white;
}

.linkFOO {
    color: black;
    text-decoration: none;
}

.linkFOO:hover {
    color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {

    footer {
        margin-top: 10%;
    }


    .icon {
        border-radius: 50px;
        height: 30%;

        text-align: center;
    }

    .cardscoment {
        height: 400px !important;

    }

}

@media (max-width: 968px) {
    .cardscoment {
        height: 400px !important;

    }


    footer {
        margin-top: 10%;

    }



    .icon {
        display: flex;

        text-align: center;
    }

    .imgLogoFooter {
        width: 30%;
    }

}

@media (max-width: 768px) {

    .cardscoment {
        height: 400px !important;
    }

    .img {
        width: 5%;
    }

    .logoNavDentro {
        width: 85%;
    }

    .footerow3 {
        padding: 3% 0;
    }

    .footerow3ico {
        padding: 4% 0 9% 0;
    }

    .footerow3iconos {
        flex-direction: row !important;
        padding: 3% 0;
    }

    .footerow3iconos a {
        padding: 0 3%;
    }

    .primero {
        width: 95%;
        margin-top: 10%;

    }

    .divEmail {
        width: 100%;
        padding: 15% 7%;
    }

    .divh3 p {
        font-size: 1rem;
    }

    .segundo {
        margin-top: 20%;

    }

    .der {
        text-align: justify;
    }


    .btnPrimero {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }


    .conteFooter {
        flex-direction: column;
    }

    .imgFoo {
        width: 12%;
        height: 60%;
        padding-left: 0;
        padding-right: 5%;
    }

    .imgFooFy {
        width: 35%;
        padding-left: 5%;
    }


    .colFooterUno,
    .colFooterDos,
    .colFooterCinco {
        width: 100%;

    }

    .colFooterTres {
        width: 90%;

    }

    .colFooterCinco {

        justify-content: center;

    }


    .contetrooter {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .mb-3 {
        flex-direction: column;
        justify-content: center;
    }

    .btnEmail {
        width: 100%;
        padding: 5% 0%;
    }

    .inputEmail {
        width: 100%;
        margin-bottom: 5%;
        padding: 5% 0%;
    }

    .inputEmailtextarea {
        width: 100%;
        margin-bottom: 5%;
        padding: 5% 0%;
        border-radius: 15px;
    }

    .inputEmailtextarea::placeholder {
        padding-left: 5%;
        color: white;
    }

    .icon {
        display: flex;

        text-align: center;
    }

    svg {
        height: 2.5rem;
    }

    .divImgFooter {

        text-align: center;
    }

    .imgLogoFooter {
        width: 50%;
    }



}

@media (max-width: 699px) {
    .cardscoment {
        height: 600px !important;
    }
    .cardscoment img{
        width: 100%;
    }
}

@media (max-width: 568px) {
    .primero {
        width: 90%;
    }

    .cardscoment img{
        width: 20%;
    }

    .cardscoment{
        height: 350px !important;
    }

    .card-body {
        flex: 0;
    }

    .segundo {
        margin-top: 20%;
    }

    .btnPrimero {
        width: 90% !important;
    }


    .imgFoo {
        width: 13%;
        height: 60%;
        padding-left: 0;
        padding-right: 5%;
    }


    .icon {
        display: flex;

        text-align: center;

    }

    .contetrooter {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .divImgFooter {

        text-align: center;
    }

    .imgLogoFooter {
        width: 60%;
    }

    svg {
        height: 2.5rem;
        text-align: center;
    }

    .ubi {
        width: 12%;
        height: 30%;
    }

    .colFooterCinco {
        display: flex;
        justify-content: center;
        text-align: center;

    }



}