.css-19r6kue-MuiContainer-root {
    padding-left: 44px!important;
    padding-right: 44px!important;
    background-color: hsl(210, 64%, 81%)!important;
    padding: 2% 4%!important
    
}

/* .css-hip9hq-MuiPaper-root-MuiAppBar-root{

    position: fixed!important;
    top: 0!important;
    z-index: 1;

} */


.css-1083xa6-MuiTypography-root{
    width: 50%;
}

.css-1t6c9ts {
    justify-content: end
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 0px 4px rgba(105, 105, 105, 0.8), -2px -0px 4px rgba(255,255,255,0.4);
}

.imgLogo{
    text-align: center;
}

.linkNav{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin: 0 3%;
}


.linkNav:hover{
    
    color: white;
}



@media (max-width: 568px){
    .imgLogo img{
        width: 60%;
    }
}