
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.conteplayer{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 1%;
}

.btnskip{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-size: 2rem;
}

.btnplay{
    margin: 0 30px;
    border: none;
    padding: 25px 30px;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    outline: none;
    background-color: blue;
    height: 40%;
    color: whitesmoke;
    cursor: pointer;
}

.player{
    width: 90%;
    padding: 6%;
    background-color: rgb(177, 175, 175);
    border-radius: 20px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);

}

.player img{
    border-radius:  50%;
    width: 50%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}


.detalles-title,  .textInicialAudio{
    color: rgb(35, 35, 35);
    font-size: 2rem;
    text-shadow: 2px 0px 4px rgba(0,0,0,0.8), -2px -0px 4px rgba(255,255,255,0.4);
    text-align: center;
}

.divLista{
    display: flex;
    align-items: center;
    margin: 2%;
    box-shadow: 7px 7px 13px 0px rgb(186, 186, 186);
    cursor: pointer;
}

.divLista p{
    margin-left: 3%;
}


.player-controles{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}



.player-detalles{
    text-align: center
}


.cont{
    margin-top: 5%;
}