@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteTodo {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;

}

.conteTodo h5 {
    font-size: 1.6rem;
}

.conteTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    padding: 4% 4% 3% 4%;
    background-color: hsl(0, 0%, 74%);
    border-radius: 10px;
    box-shadow: 10px 7px 20px .5px rgba(0, 0, 0, 0.2);

}

.conteTitulo p {
    font-size: 1.3rem;
    text-align: justify;

}

.forContr {
    border: none ! important;
    border-bottom: 1px solid grey ! important;

}


.control:focus {
    outline: none;
}

.control::placeholder {
    font-size: 1.5rem
}

.contLis {
    box-shadow: 2px 1px 50px .4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;

}

.inputLabelTarea {
    font-size: 1.3rem;

}

.inputLabelTareaFecha {
    font-size: 1.3rem;
    padding-bottom: 1%;
}

.divList {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 00;
    line-height: 1.5;
    color: #014869;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.divTareas {
    width: 60%;
    margin: 0 auto;
}

.divInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3% 5%;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top: 2%;
    box-shadow: 10px 10px 10px .5px rgba(0, 0, 0, 0.2);
}

.btnAgrgTarea {
    display: flex;
    align-items: center;
}

.btnAddTarea {
    padding: 16% 9% !important;
    background-color: grey !important;
    border: none !important;
}

.inputTodo {
    display: flex;
    margin-bottom: 5%;
    padding: 2% 4%;
}

.textTodo {
    letter-spacing: 12px;
    color: white;
}

.btnTODO {
    display: flex;
    justify-content: right;
    border-bottom: .3px solid #ced4da;
    margin-bottom: 2%;
}

.btnEditar {
    margin: 0 2%;
}

.td {
    padding: 3% 5% !important;
}


.btnEliminar {
    width: 100px;
    border: none;
    margin: 0 2%;
    border-radius: 10px;
    background-color: hsl(198, 60%, 50%)
}


.divListFooter {
    width: 100%;
    padding: 1.3rem 2rem 0 2rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: grey;
    background-color: #fff;
    border-radius: 0.25rem;

    display: flex;
    justify-content: space-between;
}

.tdico {
    cursor: pointer;
    padding-left: 3% !important
}

.btnIcon {
    color: rgb(211, 38, 38);
}

.btnIconEdi {
    color: blue;
}

.divListFooterMobile {
    width: 100%;
    padding: 1.3rem 1rem 0 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: grey;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;

}

.headTable {
    background-color: violet;
}


.cru {
    display: flex;


}

.cruMobile {
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    display: none;
}



.Icru,
.IcruAll {
    margin: 0 4%;
}


.formCheckL {
    color: black;
    font-weight: 400;
}


.form-check-input[type=checkbox] {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 5%;
    border-radius: 3.25em !important;
}



.form-check-input[type=checkbox]:checked {
    background: linear-gradient(to bottom right, rgb(255, 3, 217), rgb(69, 201, 253)) !important
}



.foo {
    text-align: center;
    border: none;
    background-color: transparent;
    color: grey;
}

.fooAll {
    text-align: center;
    border: none;
    background-color: transparent;
    color: grey;
}

.foo:hover {
    color: blue;
}



.switchSun,
.switchMoon {
    border: none;
    background: transparent;
}

.drag {
    text-align: center;
    color: rgb(173, 173, 173);
    font-weight: 50;
}

.fooMobile {
    display: none;

}




@media (max-width: 1200px) {
    .conteTodo {
        width: 55%
    }
}


@media (max-width: 998px) {
    .conteTodo {
        width: 80%
    }
}

@media (max-width: 768px) {
    .fooMobile {
        display: block;
    }


    .divListFooter {
        display: none;
    }

    .btnTODO {
        display: block;
    }


    .cruMobile {
        display: flex;
        justify-content: space-around;
        margin-top: 9%;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
    }

    .linkatrasTodo img {
        width: 20%;
        padding-bottom: 5%;

    }
    
    .divlactatext h5{
        font-size: 1.3rem;
    }

    .btnAddTarea{
        
        margin: 0 auto;
        margin-top: 7%;
        padding: 6% !important;
    }

}

@media (max-width: 568px) {
    .conteTodo {
        width: 80%;
    }

    .divListFooter {
        padding: 1rem;
    }

    .cru {
        flex-direction: column;
    }

    .Icru {
        text-align: center;
    }

    .foo {
        text-align: center;
        border: none;
        background-color: transparent;
    }
}